* {
    font-family: "Hack", monospace;
}

window {
    background-color: #1a1b26;
    border-radius: 25px;
}

#input {
    margin: 5px;
    border-radius: 25px;
    border: none;
    background-color: #3B4252;
    color: white;
    padding: 10px;
}

#inner-box {
    background-color: #1a1b26;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #1a1b26;
    border-radius: 25px;
    
}

#scroll {
    margin: 5px;
}

#text {
    padding: 4px;
    color: white;
}
#entry{
    padding: 10px;
}

#entry:nth-child(even){
    background-color: #24283b;
    border-radius: 25px;

}

#entry:selected {
    background-color: #4C566A;
    border-radius: 25px;
}

#text:selected {
    background: transparent;
}
